

<div id="" class="widget">
    <h2 class="widget-title">Quảng cáo</h2>
    <div class="banner-spot clearfix">
        <div class="banner-img">
            <img src="~/images/Ads/ads_1.png" alt="" class="img-fluid" style="margin-bottom: 30px">
            <img src="~/images/Ads/ads_2.png" alt="" class="img-fluid" style="margin-bottom: 30px">
            <img src="~/images/Ads/ads_3.png" alt="" class="img-fluid">
        </div><!-- end banner-img -->
    </div><!-- end banner -->
</div><!-- end widget -->