
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h2 class="widget-title">Tài khoản</h2>
                    <div class="link-widget">
                        <ul>
                            <li><a href="https://www.youtube.com">Đăng nhập</a></li>
                            <li><a href="https://www.youtube.com">Đăng ký</a></li>
                            <li><a href="https://www.youtube.com">Hỗ trợ kỹ thuật</a></li>
                        </ul>
                    </div><!-- end link-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h2 class="widget-title">Đối tác truyền thông</h2>
                    <div class="link-widget">
                        <ul>
                            <li><a href="https://vccorp.vn/">VCCorp</a></li>
                            <li><a href="https://career.vng.com.vn/">VNG</a></li>
                            <li><a href="https://vingroup.net">Vingroup</a></li>
                            <li><a href="https://tdmu.edu.vn">Trường đại học Thủ Dầu Một</a></li>
                        </ul>
                    </div><!-- end link-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h2 class="widget-title">Mạng xã hội</h2>
                    <div class="link-widget">
                        <ul>
                            <li><a href="https://www.youtube.com">YouTube <span>(UwU)</span></a></li>
                            <li><a href="https://www.tiktok.com">TikTok <span>(UwU)</span></a></li>
                            <li><a href="https://twitter.com">Twitter (X) <span>(UwU)</span></a></li>
                            <li><a href="https://www.facebook.com/">Facebook <span>(UwU)</span></a></li>
                        </ul>
                    </div><!-- end link-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->

        </div><!-- end row -->
        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <br>
                <div class="copyright">&copy; Mobi-Review.  Thiết kế bởi: <a href="News1">Có 3 con thú dễ thương UwU</a>.</div>
            </div>
        </div>
    </div><!-- end container -->
</footer><!-- end footer -->