@model  List<ReMoBi_DCSN.Models.Post>

@{ 
    // Lấy danh sách tất cả các PostID
    List<int> postIDs = Model.Select(p => p.PostID).ToList();

    // Sử dụng hàm Random để chọn một PostID ngẫu nhiên
    Random random = new Random();
    int randomPostID = postIDs[random.Next(postIDs.Count)];

    // Lấy bài viết tương ứng với PostID ngẫu nhiên
    var randomPost = Model.FirstOrDefault(p => p.PostID == randomPostID);
}
<div class="widget">
    <h2 class="widget-title">Bài viết gần đây</h2>
    <div class="blog-list-widget">
        <div class="list-group">

            @foreach (var post in Model.Where(n =>n.PostID > randomPostID).Take(5))
            {
                <a href="@Url.Action("Details_Post","RemoBi", new {id = post.PostID})" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="w-100 justify-content-between">
                        <img src="~/images/@post.AnhBia" alt="" class="img-fluid float-left">
                        <h5 class="mb-1" >@post.Post_Title</h5>
                        <small>@post.Post_Date</small>
                    </div>
                </a>
            }
            
        </div>
    </div><!-- end blog-list -->
</div><!-- end widget -->
