
<div class="widget-no-style">
    <div class="newsletter-widget text-center align-self-center">
        <h3>Đăng ký nhận tin tức</h3>
        <p>Đăng ký nhận Bản tin hàng tuần của chúng tôi & cập nhật tin tức mới nhất qua email.</p>
        <form class="form-inline" method="post">
            <input type="text" name="email" placeholder="Nhập email của bạn tại đây..." required class="form-control" />
            <a href="@Url.Action("Register","User")" class="btn btn-default btn-block">@*<input type="submit" value="Đăng ký" class="btn btn-default btn-block" />*@Đăng ký</a>
        </form>
    </div><!-- end newsletter -->
</div>
